<?xml version="1.0" encoding="utf-8"?>
<Content Key="24bd4661-5ac7-445d-89ad-0240b0e935d5" Alias="Länkar" Level="2">
  <Info>
    <Parent Key="9d066b62-6182-49c0-b503-526abbb0c8f2">Start</Parent>
    <Path>/Start/Laenkar</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2024-02-18T18:01:09</CreateDate>
    <NodeName Default="Länkar" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ce5f547-019a-44db-9873-a696672c48fc">Artikelsida</Template>
  </Info>
  <Properties />
</Content>